<h3>Detaljer</h3>
<% if (model.status === 'Kladd') { %>
  <div class="alert alert-info">
    Gruppen kan ikke publiseres, trolig på grunn av at ikke alle påkrevde er fylt ut. Kontroller at alle felt markert med <strong>*</strong> er fylt ut.
  </div>
<% } %>
<form>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="form-group required">
        <label>Navn</label>
        <input type="text" name="group-details-field-navn" class="form-control" placeholder="Uten navn">
      </div>
      <div class="form-group">
        <label>Kategori</label>
        <select name="group-details-field-kategori" class="form-control">
          <option></option>
          <% for (var i = 0; i < availableTags.length; i++) { %>
            <option value="<%= availableTags[i] %>"><%= availableTags[i] %></option>
          <% } %>
        </select>
      </div>
      <label>Logo</label>
      <div class="well">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <% if (model.logo) { %>
                <img src="<%= model.logo %>">
              <% } else { %>
                Logo mangler
              <% } %>
            </div>
          </div>
          <div class="col-md-8">
            <span class="btn btn-primary btn-block fileinput-button">
              <span class="glyphicon glyphicon-plus"></span>
              <span>&nbsp;Ny logo</span>
              <input id="fileupload" type="file" name="image">
            </span>
            <button type="button" data-dnt-action="remove-logo" class="btn btn-block btn-danger">
              <span class="glyphicon glyphicon-trash"></span>&nbsp;
              Slett logo
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="form-group required">
        <label>Epost</label>
        <input type="text" name="group-details-field-epost" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label>Telefon</label>
        <input type="text" name="group-details-field-telefon" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label>Fax</label>
        <input type="text" name="group-details-field-fax" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label>Adresse</label>
        <input type="text" name="group-details-field-adresse1" class="form-control" placeholder="Adresselinje 1">
      </div>
      <div class="form-group">
        <input type="text" name="group-details-field-adresse2" class="form-control" placeholder="Adresselinje 2">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" name="group-details-field-postnummer" class="form-control" placeholder="Postnummer">
          </div>
          <div class="col-sm-8">
            <input type="text" name="group-details-field-poststed" class="form-control" placeholder="Poststed">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="form-group required">
        <label>Beskrivelse</label>
        <textarea name="group-details-field-beskrivelse"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <label>Lenker</label>
    </div>
    <div data-view="group-details-lenker"></div>
  </div>
</form>
