extends ../editor

append head

    script
        | var appData = {};
        - if (typeof listData !== 'undefined')
            | appData.listData = !{listData};
        - if (typeof userGroups !== 'undefined')
            | appData.userGroups = !{userGroups};
        - if (typeof userData !== 'undefined')
            | appData.userData = !{userData};
        | define('state', appData);

    script.
        require(['/scripts/apps/list-edit.js']);

block navbarHeader
    a.navbar-brand.dnt-logo(href="https://asgardr.app.dnt.no" alt="Tilbake")
        img(src="/images/dnt-logo-circle.svg")
    a.navbar-brand.ut-logo(href="/" alt="Til mine turer")
        img(src="/images/ut-no-logo-hvit.png")
    div.navbar-brand.hidden-xs.list-name(data-placeholder-for="list-name")
        if listData
            | #{listName}
        else
            | Liste uten navn

    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#app-navigation-collapse")
        span.sr-only Vis meny
        span.icon-bar
        span.icon-bar
        span.icon-bar

block navbarCollapse

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        li.action-do-save
            a(data-action="do-save" data-toggle="tooltip" data-placement="bottom").list-save
                span.glyphicon.glyphicon-floppy-disk
                | &nbsp;Lagre
        li.action-do-switch-published-state
            a(data-action="do-publish")
                span.glyphicon.glyphicon-cloud-upload
                | &nbsp;Publiser
            a(data-action="do-unpublish")
                span.glyphicon.glyphicon-cloud-download
                | &nbsp;Avpubliser
        include ../dropdownmenu

block content

    div.container.editor-list
        div#detaljer.page-block.list-details(data-view="list-details")
        div#steder.page-block.list-pois(data-view="list-pois")
