<% if (typeof err !== 'undefined' && !!err) { %>
  <div class="row area-municipality-location" style="margin-top: 20px;">
    <div class="col-sm-12">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Kunne ikke hente områder og informasjon om rutens lengde. Årsaken kan være en veldig lang inntegning. Dette skjer vanligvis ved import av en lang tur fra GPX. For å få hentet denne informasjonen anbefales det at det kuttes ned på antall rutepunkter. En løsning kan være å kutte ned på antall rutepunkter med f.eks. Garmin BaseCamp.
      </div>
    </div>
  </div>
<% } else if ((model['områder_navn'] && model['områder_navn'].length) || (model['fylker'] && model['fylker'].length) ||(model['kommuner'] && model['kommuner'].length)) { %>
  <div class="row area-municipality-location" style="margin-top: 20px;">
    <div class="col-sm-12">
      <div class="alert alert-info">
        <div class="row">
          <div class="col-sm-12">
              <% if (model['områder_navn'] && model['områder_navn'].length) { %>
                <div><strong>Områder:</strong> <% _.each(model['områder_navn'], function (item, key, list) { %> <%= item %><% if (key !== list.length-1) { %>, <% } %><% }); %></div>
              <% } %>
              <% if (model['fylker'] && model['fylker'].length) { %>
                <div><strong>Fylker:</strong> <% _.each(model['fylker'], function (item, key, list) { %> <%= item %><% if (key !== list.length-1) { %>, <% } %><% }); %></div>
              <% } %>
              <% if (model['kommuner'] && model['kommuner'].length) { %>
                <div><strong>Kommuner:</strong> <% _.each(model['kommuner'], function (item, key, list) { %> <%= item %><% if (key !== list.length-1) { %>, <% } %><% }); %></div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>
