<% if ((model['områder'] && model['områder'].length) || (model['fylker'] && model['fylker'].length) ||(model['kommuner'] && model['kommuner'].length)) { %>
  <div class="row area-municipality-location" style="margin-top: 20px;">
    <div class="col-sm-12">
      <div class="alert alert-info">
        <div class="row">
          <div class="col-sm-12">
              <% if (model['områder'] && model['områder'].length) { %>
                <div><strong>Områder:</strong> <% _.each(model['områder'], function (item, key, list) { %> <%= item %><% if (key !== list.length-1) { %>, <% } %><% }); %></div>
              <% } %>
              <% if (model['fylker'] && model['fylker'].length) { %>
                <div><strong>Fylker:</strong> <% _.each(model['fylker'], function (item, key, list) { %> <%= item %><% if (key !== list.length-1) { %>, <% } %><% }); %></div>
              <% } %>
              <% if (model['kommuner'] && model['kommuner'].length) { %>
                <div><strong>Kommuner:</strong> <% _.each(model['kommuner'], function (item, key, list) { %> <%= item %><% if (key !== list.length-1) { %>, <% } %><% }); %></div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>
