version: '2'

services:
  node:
    image: node:argon
    network_mode: 'bridge'
    working_dir: /usr/src/app
    volumes:
      - ".:/usr/src/app"
    ports:
      - "8080"
    env_file: .env
    environment:
      - VIRTUAL_HOST=tur.app.dnt.local
      - VIRTUAL_PORT=8080
      - APP_PORT=8080
      - APP_URL=http://tur.app.dnt.local
      - NTB_API_ENV=dev
      - NTB_API_URL=https://dev.nasjonalturbase.no
    command: npm start
