www:
  build: public
  links:
    - turadmin
  volumes:
    - "public:/usr/share/nginx/public"
    - "public/default.conf:/etc/nginx/conf.d/default.conf"
    - "public/mime.types:/etc/nginx/mime.types"
  ports:
    - "8080"

turadmin:
  build: .
  volumes:
    - "app.js:/usr/src/app/app.js"
    - "lib:/usr/src/app/lib"
    - "package.json:/usr/src/app/package.json"
    - "routes:/usr/src/app/routes"
    - "test:/usr/src/app/test"
    - "views:/usr/src/app/views"
  ports:
    - "8080"
  environment:
    - APP_URL
    - APP_PORT=8080
    - DNT_CONNECT_KEY
    - DNT_CONNECT_USER
    - NODE_ENV
    - NODE_ENV
    - NTB_API_ENV
    - NTB_API_KEY
    - NTB_API_URL
    - ROUTING_API_URL
    - SESSION_SECRET
  restart: always
