extends layout
block extraHeadContent
    link(rel='stylesheet', href='lib/leaflet-0.7.1/leaflet.css')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/leaflet-0.7.1/leaflet.js')
    script(src='lib/routing/utils/LineUtil.Snapping.js')
    script(src='lib/routing/utils/Marker.Snapping.js')
    script(src='lib/routing/L.Routing.js')
    script(src='lib/routing/L.Routing.Storage.js')
    script(src='lib/routing/L.Routing.Draw.js')
    script(src='lib/routing/L.Routing.Edit.js')
    script(src='javascripts/routing.js')
    script(src='javascripts/routeModel.js')
    script(src='javascripts/routeView.js')
    script(src='javascripts/mapView.js')
    script
        | $(document).ready(function () {
        |   var routeView = new DNT.RouteView({model: new DNT.Route()}).render();
        |   //var map = new DNT.MapView({model: new DNT.Route()}).render();
        | });


block saveAndPublish
    div#commonRouteNav.navbar-form.pull-right
        a#publish.btn.btn-sm.btn-primary.disabled
            i.glyphicon.glyphicon-share
            |Publiser
        a#save.btn.btn-sm.btn-default.disabled
            i.glyphicon.glyphicon-check
            |Lagre


block content
    div#routePage.container
        div.masthead
            h2.page-header Tur uten navn
                small
                    span.label.label-danger Ikke lagret
                small.pull-right Sist lagret:
                    span.label.label-danger Aldri
            ul.nav.nav-tabs
                li.active
                    a(href='#') Fakta
                li
                    a(href='#') Inntegning
                li
                    a(href='#') Bilder
        div.clearfix(style="margin-top:10px")
            div.panel.panel-default.pull-right
                div.panel-body
                    form(method="post", enctype="multipart/form-data")
                        label Last opp GPX:
                        p.btn.btn-sm.btn-default
                            span.glyphicon.glyphicon-upload
                            | Velg fil...
        div.clearfix
            p#startDraw.btn.btn-default.btn-sm.btn-group.pull-left
                span
                    span.glyphicon.glyphicon-pencil
                    span.buttonText Start inntegning
            p#toggleSnap.btn.btn-default.btn-sm.btn-group.pull-left.active
                span.glyphicon.glyphicon-pushpin
                | Snapping
            p#deleteRoute.btn.btn-sm.btn-danger.pull-right
                span.glyphicon.glyphicon-trash
                | Slett inntegning
            //script(type="template" id="map-template")
            //  div#map(style="height:500px;width:500px")
        div#mapContainer(style="height:500px;width:100%;margin-top:10px")