li.hidden-lg.hidden-md.hidden-sm
    a(href="/turer") Mine turer
li.hidden-lg.hidden-md.hidden-sm
    a(href="/turer/ny") Opprett ny tur
// Divider
li.divider.hidden-lg.hidden-md.hidden-sm
li.hidden-lg.hidden-md.hidden-sm
    a(href="/steder") Mine steder
li.hidden-lg.hidden-md.hidden-sm
    a(href="/steder/ny") Opprett nytt sted
// Divider
li.divider.hidden-lg.hidden-md.hidden-sm

// Divider
li.divider.hidden-lg.hidden-md.hidden-sm

li.hidden-lg.hidden-md.hidden-sm
    a(href="https://www.youtube.com/watch?v=grnKXTFdie8&list=PLsNwAvQ4hxbBt7j3xZ6bhPfH11fUBb2E2&index=2") Introduksjon
    a(href="http://artikkel.ut.no/1.6678023") Hjelp

// Divider
li.divider.hidden-lg.hidden-md.hidden-sm

li.hidden-lg.hidden-md.hidden-sm
    a(href="/logout") Logg ut

li.dropdown.hidden-xs

    a.dropdown-toggle(href="#" data-toggle="dropdown")
        span.glyphicon.glyphicon-align-justify
        | &nbsp;Meny

    ul.dropdown-menu
        li
            a(href="/turer") Mine turer
        li
            a(href="/turer/ny") Opprett ny tur
        // Divider
        li.divider
        li
            a(href="/steder") Mine steder
        li
            a(href="/steder/ny") Opprett nytt sted
        // Divider
        if isAdmin
            li.divider
                li
                    a(href="/grupper") Grupper
                    a(href="/grupper/ny") Opprett ny gruppe
        // Divider
        li.divider
        li
            a(href="https://www.youtube.com/watch?v=grnKXTFdie8&list=PLsNwAvQ4hxbBt7j3xZ6bhPfH11fUBb2E2&index=2") Introduksjon
            a(href="http://artikkel.ut.no/1.6678023") Hjelp
        // Divider
        li.divider
        li
            a(href="/logout") Logg ut
