li.hidden-lg.hidden-md.hidden-sm
    a(href="#") Mine turer
li.hidden-lg.hidden-md.hidden-sm
    a(href="#") Opprett ny tur

// Divider
li.divider.hidden-lg.hidden-md.hidden-sm

li.hidden-lg.hidden-md.hidden-sm
    a(href="http://artikkel.ut.no/1.6678023") Hjelp

// Divider
li.divider.hidden-lg.hidden-md.hidden-sm

li.hidden-lg.hidden-md.hidden-sm
    a(href="/logout") Logg ut

li.dropdown.hidden-xs

    a.dropdown-toggle(href="#" data-toggle="dropdown")
        span.glyphicon.glyphicon-align-justify
        | &nbsp;Meny

    ul.dropdown-menu
        li
            a(href="/") Mine turer
        li
            a(href="/tur") Opprett ny tur
        // Divider
        li.divider
        li
            a(href="http://artikkel.ut.no/1.6678023") Hjelp

        // Divider
        li.divider
        li
            a(href="/logout") Logg ut
