extends layout

block header

    div.navbar.navbar-fixed-top.navbar-inverse(style="height:52px")
        div.container
            div.navbar-header
                a.navbar-brand(href="http://www.ut.no" alt="Til ut.no")
                    img(src="images/ut.no-logo_hvit.png" style="height:24px")
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="index") Mine turer
                    li
                        a(href="addRoute") Opprett ny tur
                block saveAndPublish













