extends layout

mixin navbarCollapseIndex(active)
    ul.nav.navbar-nav.navbar-center.hidden-sm.hidden-xs

        li(class=(active == 'routes' ? 'link-routes active' : 'link-routes'))
            a(href="/turer")
                span.glyphicon.glyphicon-globe
                | &nbsp;Mine turer

        li(class=(active == 'pois' ? 'link-pois active' : 'link-pois'))
            a(href="/steder")
                span.glyphicon.glyphicon-pushpin
                | &nbsp;Mine steder


block navbarHeader
    a.navbar-brand(href="/" alt="Til mine turer")
        img(src="/images/ut-no-logo-hvit.png")

    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#app-navigation-collapse")
        span.sr-only Vis meny
        span.icon-bar
        span.icon-bar
        span.icon-bar
