extends layout

block extraHeadContent
    link(rel='stylesheet', href='lib/leaflet-0.7.1/leaflet.css')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')

    include indexTemplates

    script(src='javascripts/routeModel.js')
    script(src='javascripts/listItemView.js')
    script(src='javascripts/indexView.js')

    script.
        $(document).ready(function () {
            new DNT.IndexView();
        });

block content

    div.container
        div.masthead
            h2.page-header Mine turer

        div#listContainer
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 20px;") Her er alle turene du har lagt inn. Klikk på de enkelte turene for å gjøre endringer.
                a#nyTurButton.btn.btn-success.pull-right(href="/tur") Ny tur
            table.table.table-bordered.table-hover
                thead
                    tr
                        th Tittel
                        th Område
                        th Publisert
                        th Lagret
                        th(colspan="2") Valg
                tbody(id="listItems")
