extends header

block extraHeadContent
    link(rel='stylesheet', href='/leaflet-0.7.1/leaflet.css')
    script(src='/underscore/underscore-min.js')
    script(src='/backbone/backbone-min.js')

block content

    div.container
        div.masthead
            h2.page-header Mine turer


        div#listContainer
            |Her kommer liste over alle turer


        div.footer(style="margin-top:10px")
            p &copy; Den Norske Turistforening




