script(type="text/template" id="listRouteItemTemplate").
    <td class="route-title">
        <span><%= navn %></span>
    </td>
    <td>
        <span>N/A</span>
    </td>
    <td>
        <span class="label
        <%if (status === "Kladd") { %>
            label-success
        <% } else { %>
            label-info
        <% } %>
        ">
            <%= erPublisert %>
        </span>
    </td>
    <td>
        <span><%= endret %></span>
    </td>
    <td>
        <a id="publishRoute" href="#">
        <%if (status === "Kladd") { %>
            Publiser
        <% } else { %>
            Avpubliser
        <% } %>
        </a>
    </td>
    <td>
        <a id="deleteRoute" data-action="route-delete">Slett</a>
    </td>


script(type="text/template" id="selectOptionsTemplate").
    <% _.each(selectOptions, function(element) { %>
        <option value=<%= element.object_id %>><%= element.navn %></option>
    <% }); %>
