extends layout

block content

    div.container
        div.row
            div.col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
                div.masthead
                    h2.page-header Logg inn
                div.well
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel pharetra odio. Duis nec libero pulvinar leo rutrum consequat rhoncus eget elit. Nulla scelerisque vestibulum bibendum. Duis vel viverra massa, in adipiscing quam. Aenean quis eros sit amet sapien tempus tincidunt.

        div.row
            div.col-lg-4.col-md-4.col-sm-5.col-lg-offset-1.col-md-offset-1
                div.gruppebruker
                    h3 Innholdspartner

                    form.form-signin(action="/login/turbasen" method="POST")
                        p.help-block Fyll inn brukernavn og passord nedenfor dersom du ønsker å logge inn som Innholdspartner

                        if error && error == 'TBAUTH-401'
                            div.form-group.has-error
                                div.alert.alert-danger
                                    span Du har oppgitt feil brukernavn eller passord.
                            script.
                                $(function () {
                                    $('.gruppebruker .form-group').addClass('has-error');
                                });


                        div.form-group
                            label(for="login-groupuser-username") Brukernavn
                            input.form-control(id="login-groupuser-username" name="username")

                        div.form-group
                            label(for="login-groupuser-username") Passord
                            input.form-control(type="password" id="login-groupuser-username" name="password")

                        button.btn.btn-lg.btn-primary.btn-block(type="submit") <span class="glyphicon glyphicon glyphicon-ok"></span>&nbsp; Logg inn

            div.col-lg-4.col-md-4.col-sm-5.col-lg-offset-2.col-md-offset-2.col-sm-offset-2

                div.dnt-connect
                    h3 DNT-brukere
                    a.btn.btn-lg.btn-default.btn-block(href="/login/dnt/connect")
                        span.glyphicon.glyphicon.glyphicon-arrow-right
                        | &nbsp;Gå til innlogging
                    p.help-block Klikk her dersom du ønsker å logge inn som DNT-bruker

                div.mitt-nrk
                    h3 UT.no-brukere
                    a.btn.btn-lg.btn-default.btn-block(href="/login/nrk/bounce")
                        span.glyphicon.glyphicon.glyphicon-arrow-right
                        | &nbsp;Gå til innlogging
                    p.help-block Klikk her dersom du ønsker å logge inn som UT.no-bruker
