extends layout

append head
    script(src='/lib/jquery-1.11.1/jquery.min.js')

block content

    div.container
        div.row
            div.col-lg-10.col-md-10.col-sm-12.col-lg-offset-1.col-md-offset-1
                div.masthead
                    h2.page-header Logg inn
                div.alert.alert-info
                    span Dette er innloggingssiden for DNT-foreninger, andre innholdspartnere og privatpersoner som skal publisere turer på UT.no.

        div.row
            div.col-md-5.col-sm-6.col-md-offset-1
                div.gruppebruker
                    h3 Innholdspartner

                    form.form-signin(action="/login/turbasen" method="POST")
                        p Foreninger, organisasjoner eller kommuner/fylkeskommuner som tilrettelegger for friluftsliv kan bli innholdspartnere til UT.no.&nbsp;
                            a(href="http://artikkel.ut.no/bli-innholdspartner-pa-ut.no-1.8318561") Finn ut hvorfor og hvordan
                            | .

                        if error && error == 'TBAUTH-401'
                            div.form-group.has-error
                                div.alert.alert-danger
                                    span Du har oppgitt feil brukernavn eller passord.
                            script.
                                $(function () {
                                    $('.gruppebruker .form-group').addClass('has-error');
                                });


                        div.form-group
                            label(for="login-groupuser-username") E-post
                            input.form-control(id="login-groupuser-username" name="username")

                        div.form-group
                            label(for="login-groupuser-username") Passord
                            input.form-control(type="password" id="login-groupuser-username" name="password")
                        div.form-group
                            button.btn.btn-lg.btn-primary.btn-block(type="submit") <span class="glyphicon glyphicon glyphicon-ok"></span>&nbsp; Logg inn
                        p.help-block Fyll inn brukernavn og passord dersom du ønsker å logge inn som innholdspartner.

            div.col-md-4.col-sm-5.col-md-offset-1.col-sm-offset-1

                div.dnt-connect
                    h3 DNT/Sherpa-brukere
                    a.btn.btn-lg.btn-default.btn-block(href="/login/dnt/connect")
                        span.glyphicon.glyphicon.glyphicon-arrow-right
                        | &nbsp;Gå til innlogging
                    p.help-block Klikk her dersom du ønsker å logge inn som DNT/Sherpa-bruker

                div.mitt-nrk
                    h3 UT.no-brukere
                    a.btn.btn-lg.btn-default.btn-block(href="/login/nrk/bounce")
                        span.glyphicon.glyphicon.glyphicon-arrow-right
                        | &nbsp;Gå til innlogging
                    p.help-block Klikk her dersom du ønsker å logge inn som UT.no-bruker
