script(type="text/template" id="poiPopupTemplate").
    <strong class="poi-navn"><%= navn %></strong><br />
    <!--<button type="button" class="btn btn-danger btn-xs popup-delete">Slett</button>-->

script(type="text/template" id="poiTemplate").
    <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
            <a data-placeholder="poi-name" data-toggle="collapse" data-parent="#route-pois-accordion" href="#route-pois-accordion-<%= cid %>">Sted uten navn</a>
            <a class="btn btn-default btn-xs poi-delete" data-action="poi-delete-modal-open">Slett sted</a>
        </h4>
        </div>
        <div id="route-pois-accordion-<%= cid %>" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h5>Om stedet</h5>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Navn</label>
                                <div class="col-sm-8">
                                    <input name="navn" type="email" class="form-control" id="inputEmail3" placeholder="Navn på sted">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Kategori</label>
                                <div class="col-sm-8">
                                    <select name="kategori" class="form-control">
                                        <option value=0>Velg en</option></option>
                                        <option value="Hytte">Hytte</option>
                                        <option value="Fjelltopp">Fjelltopp</option>
                                        <option value="Gapahuk">Gapahuk</option>
                                        <option value="Rasteplass">Rasteplass</option>
                                        <option value="Telplass">Telplass</option>
                                        <option value="Geocaching">Geocaching</option>
                                        <option value="Turpostkasse">Turpostkasse</option>
                                        <option value="Turorientering">Turorientering</option>
                                        <option value="Utsiktspunkt">Utsiktspunkt</option>
                                        <option value="Attraksjon">Attraksjon</option>
                                        <option value="Badeplass">Badeplass</option>
                                        <option value="Fiskeplass">Fiskeplass</option>
                                        <option value="Klatrefelt">Klatrefelt</option>
                                        <option value="Akebakke">Akebakke</option>
                                        <option value="Skitrekk">Skitrekk</option>
                                        <option value="Kitested">Kitested</option>
                                        <option value="Skøytevann">Skøytevann</option>
                                        <option value="Toalett">Toalett</option>
                                        <option value="Bro">Bro</option>
                                        <option value="Vadested">Vadested</option>
                                        <option value="Parkering">Parkering</option>
                                        <option value="Holdeplass">Holdeplass</option>
                                        <option value="Togstasjon">Togstasjon</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Er også</label>
                                <div class="col-sm-8 flereStedKategorierSelectContainer">
                                    <input type="text" class="form-control" name="route-poi-tags">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Beskrivelse</label>
                                <div class="col-sm-8">
                                    <textarea name="beskrivelse" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h5>Bilder</h5>
                        <!--<div class="alert alert-info">
                            <strong>Ingen bilder!</strong>
                            Du har ikke lagt inn noen bilder for denne turen.
                        </div>-->
                        <div class="currentRouteImages">
                            <div class="row routePicturesContainer"></div>
                        </div>

                        <p class="help-block">Dersom noen av bildene du har lagt ut til turen er relatert til dette stedet kan du knytte bilder til stedet her.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Slette sted?</h4>
                </div>
                <div class="modal-body">
                    <p>Er du sikker på at du vil slette stedet <span data-placeholder="poi-name"></span> fra turen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-primary" data-action="poi-delete">Slett</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

script(type="text/template" id="poiPicturesTemplate").

    <% _.each(output.models, function(picture) { %>
        <div class="col-sm-3">
            <div class="thumbnail selectable <%= isSelected(picture, scope) %>" data-_id="<%= picture.attributes._id %>">
                <img src="<%= picture.attributes.thumbnailUrl %>" class="img-responsive" />
            </div>
        </div>
    <% }); %>

script(type="text/template" id="poiPictureTemplate").
    <div class="col-sm-3">
        <div class="thumbnail selected"></div>
    </div>
