extends layout

block extraHeadContent
    link(rel='stylesheet', href='lib/leaflet-0.7.1/leaflet.css')
    link(rel='stylesheet', href='lib/LeafletDraw/leaflet.draw.css')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')
    script(src='lib/leaflet-0.7.1/leaflet.js')
    script(src='lib/routing/utils/LineUtil.Snapping.js')
    script(src='lib/routing/utils/Marker.Snapping.js')
    script(src='lib/routing/L.Routing.js')
    script(src='lib/routing/L.Routing.Storage.js')
    script(src='lib/routing/L.Routing.Draw.js')
    script(src='lib/routing/L.Routing.Edit.js')
    script(src='lib/LeafletDraw/leaflet.draw.js')
    script(src='javascripts/routing.js')

    script(type="text/template" id="picturePopupTemplate").
       <strong class="poi-navn"><%= navn %></strong>
       <br>
       <img src=<%= url %> width="200">

    script(type="text/template" id="poiPopupTemplate").
       <strong class="poi-navn"><%= navn %></strong><br>
       <p class="poi-edit btn btn-default">Endre</p>
       <p class="poi-delete btn btn-default">Slett</p>

    script(type="text/template" id="pictureTemplate").
        <div>
            <strong><%= navn %></strong>
            </br>
            <p class="positionPicture btn btn-default">Posisjoner</p>
        </div>

    script(src='javascripts/setupApp.js')

    script(src='javascripts/routeModel.js')
    script(src='javascripts/poiCollection.js')
    script(src='javascripts/poiModel.js')
    script(src='javascripts/pictureModel.js')
    script(src='javascripts/pictureCollection.js')
    script(src='javascripts/appModel.js')

    script(src='javascripts/popupView.js')
    script(src='javascripts/routeView.js')
    script(src='javascripts/mapView.js')
    script(src='javascripts/pictureView.js')
    script(src='javascripts/picturesView.js')

    script.
        $(document).ready(function () {
            var model = new DNT.App();
            model.set({route: new DNT.Route(), poiCollection: new DNT.PoiCollection(), pictureCollection: new DNT.PictureCollection()});
            var routeView = new DNT.RouteView({model: model}).render();
        });


block saveAndPublish

    li
        a(data-action="route-save").route-save
            span.glyphicon.glyphicon-floppy-disk
            | &nbsp;Lagre
    li
        a(data-action="route-publish")
            span.glyphicon.glyphicon-cloud-upload
            | &nbsp;Publiser


block routeNavigation

    // Scrollspy navigation
    ul.nav.navbar-nav
        li
            a(href="#route-draw")
                span.glyphicon.glyphicon-globe
                | &nbsp;Rute
        li
            a(href="#route-images")
                span.glyphicon.glyphicon-picture
                | &nbsp;Bilder
        li
            a(href="#route-pois")
                span.glyphicon.glyphicon-map-marker
                | &nbsp;Steder
        li
            a(href="#route-facts")
                span.glyphicon.glyphicon-list
                | &nbsp;Fakta

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        li
            a(data-action="route-save").route-save.has-unsaved-changes
                span.glyphicon.glyphicon-floppy-disk
                | &nbsp;Lagre
        li
            a(data-action="route-publish")
                span.glyphicon.glyphicon-cloud-upload
                | &nbsp;Publiser

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Mine turer
        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Opprett ny tur

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Hjelp

        li.dropdown.hidden-xs

            a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-align-justify
                | &nbsp;Meny

            ul.dropdown-menu

                li
                    a(href="#") Mine turer
                li
                    a(href="#") Opprett ny tur

                // Divider
                li.divider

                li
                    a(href="#") Hjelp


block content

    div#routePage.container
        include routeDraw
        include routeImages
        include routePois
        include routeFacts
        include routeDone

    script(src='lib/jquery.fileupload/js/vendor/jquery.ui.widget.js')
    script(src='lib/jquery.fileupload/js/jquery.iframe-transport.js')
    script(src='lib/jquery.fileupload/js/jquery.fileupload.js')
    script(src='lib/jquery.fileupload/js/jquery.fileupload-process.js')
    script(src='lib/jquery.fileupload/js/jquery.fileupload-validate.js')

