div.row.page-block.route-images#route-images
    div.col-lg-12

        h3 Bilder

        div#noPictures.alert.alert-info
            strong Ingen bilder!
            | &nbsp;Husk å legge inn bilder fra turen din, slik at det blir synlig på forsiden av UT.no

        div.row
            div#route-images-all-container.route-images-all-container
        div#hintInfo.alert.alert-info.hidden
            strong Hint!
            | &nbsp;Du kan endre på rekkefølgen ved å dra i bildene. Det første bildet vil bli bruk som forsidebilde for turforslaget ditt på UT.no.
        span.btn.btn-success.fileinput-button
            span.glyphicon.glyphicon-plus
            span &nbsp;Legg til bilder
            input#fileupload(type="file" name="files[]" multiple="")
        div#progress.progress.hidden
            div.progress-bar.progress-bar-success
