div.row.page-block.route-draw(id="route-draw")
    div.col-lg-12
        h3 Inntegning
        div.row.routeLocate
            form.form-horizontal
                div.col-lg-4.col-md-4.col-sm-5
                    div.form-group
                        // TODO: Move styles to CSS
                        label.control-label(for="",style="float: left; margin-left: 15px;")
                            span.glyphicon.glyphicon-map-marker
                            | &nbsp;Finn sted
                        div.col-sm-8
                            input#placeSearchInput.form-control(placeholder="søk" type="hidden")
                div.col-lg-1.col-md-1.col-sm-1
                    div.form-group
                        // TODO: Move styles to CSS
                        p.form-control-static(style="text-align: center;") eller
            form.form-horizontal(method="post", enctype="multipart/form-data")
                div.col-lg-4.col-md-4.col-sm-3.col-xs-12
                    button.btn.btn-default
                        span.glyphicon.glyphicon-folder-open
                        | &nbsp;&nbsp;Last opp GPX-fil

        div#mapAndControlsContainer

                div#mapAndControls

                    div.row.mapControlsRow
                        div.col-lg-8.col-md-8.col-sm-8
                            div.mapControls
                                div.startStopDraw
                                    button#startDraw.btn.btn-success.btn-group.pull-left
                                        span.glyphicon.glyphicon-pencil
                                        span.buttonText &nbsp;Start inntegning

                                div.deleteRoute
                                    button#deleteRoute.btn.btn-danger.btn-outline
                                        span.glyphicon.glyphicon-trash
                                        span.buttonText &nbsp;Slett inntegning

                                // div.snapToggle
                                    div.checkbox
                                        label(data-toggle="tooltip" title="Når du tegner inn ruten vil markøren automatisk feste seg til nærmeste stier og veier. Du kan skru av denne funksjonen." data-placement="bottom")
                                            input(type="checkbox")
                                            | Magnetisk markør

                                div.dropdown.dropdown-select.dropdown-select-toggles
                                    button.btn.btn-link(data-toggle="dropdown" data-target="#")
                                        span.glyphicon.glyphicon-cog
                                        | &nbsp; Alternativer &nbsp;
                                        span.caret
                                    ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                        // li
                                            a(data-route-draw-toggle-autocenter="")
                                                label Automatisk sentrering
                                                p.help-block Med automatisk sentrering vil kartet flytte seg automatisk når du tegner nær kanten av kartet. Du kan skru av denne funksjonen.
                                        li
                                            a(data-route-draw-toggle-snap="")
                                                label Magnetisk markør
                                                p.help-block Når du tegner inn ruten vil markøren automatisk feste seg til nærmeste stier og veier. Du kan skru av denne funksjonen.

                        div.col-lg-4.col-md-4.col-sm-4
                            div.dropdown.dropdown-select.pull-right.route-field-facts-retning
                                button.btn.btn-default(data-toggle="dropdown" data-target="#")
                                    span.glyphicon.glyphicon-arrow-right
                                    | &nbsp; Turens retning:&nbsp;
                                    span('data-route-direction-value-placeholder') A-B-A
                                    | &nbsp;
                                    span.caret
                                ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                    li.selected
                                        a#route-retning-a-b-a(href="#" data-route-direction-option="aba")
                                            label A-B-A
                                            p.help-block Turen går fra startpunktet til endepunktet av inntegning og tilbake igjen.
                                    li
                                        a#route-retning-a-b(href="#" data-route-direction-option="ab")
                                            label A-B
                                            p.help-block Turen går fra startpunktet til endepunktet av inntegning.
                                    li
                                        a#route-retning-b-a(href="#" data-route-direction-option="ba")
                                            label B-A
                                            p.help-block Turen går fra endepunktet til startpunktet av inntegning.

                    div.row
                        div.col-lg-12
                            //- div#mapWrap(style="position: relative;")
                                // TODO: Move styles to CSS
                            #mapContainer(style="height: 500px; width: 100%; margin-top: 10px; border: 1px solid #ccc;")

    // Modal map container
    div#modal-map.modal.fade.modal-map(tabindex="-1" role="dialog" aria-labelledby="modal-map-label" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title(id="modal-map-title") Posisjonér i kart
                div.modal-body(id="modal-map-body")
                div.modal-footer
                    button(type="button" class="btn btn-primary" data-dismiss="modal") Ferdig
