div#route-pois.row.page-block.route-pois
    div.col-lg-12
        h3 Steder

        div#noPoisAlert.alert.alert-info
            strong Ingen steder!
            | &nbsp;Husk å legge inn steder fra turen din, som kan være nyttige å vite om for andre som skal gå denne turen

        div#route-pois-accordion.panel-group.route-pois-accordion.

        div.form-group
            button#newPoi.btn.btn-success.btn.btn-group
                span.glyphicon.glyphicon-plus
                | &nbsp;Legg til sted
