script(type="text/template" id="selectOptionsTemplate").
    <option value="0"></option>
    <% _.each(selectData, function(element) { %><option value=<%= element.value %>><%= element.label %></option> <% }); %>

script(type="text/template" id="searchResultTemplate").
    <label><%= stedsnavn %></label>
    <p class="help-block"><%= navnetype %> i <%= kommunenavn %> i <%= fylkesnavn %></p>
