extends layout

block extraHeadContent
    //
block routeNavigation

    // Right side navigation
    ul.nav.navbar-nav.navbar-right
        li.hidden-lg.hidden-md.hidden-sm
            a(href="/logout") Logg ut

        li.dropdown.hidden-xs

            a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-align-justify
                | &nbsp;Meny

            ul.dropdown-menu
                li
                    a(href="/logout") Logg ut

block content

    div.container
        div.masthead
            h2.page-header Velkommen som bruker

        div#terms-and-conditions
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 20px;") Før du tar i bruk tjenesten må du godkjenne våre brukervilkår.

            div.row
                div.col-lg-6.col-md-6.col-sm-8.col-xs-8
                    iframe(src="" width="100%").terms-and-conditions.hidden

            form(role="form" action="/")
                div.checkbox
                    label
                        input(type="checkbox")
                        | Jeg har lest og godtatt&nbsp;
                    a(href="#" data-toggle="terms-and-conditions-iframe") Vilkår for brukergenerert innhold på ut.no
                        script.
                            $(document).on('click', '[data-toggle="terms-and-conditions-iframe"]', function () {
                                $('iframe.terms-and-conditions').removeClass('hidden');
                            });
                div.form-group
                    button.btn.btn-primary(type="submit") Godkjenn

            p.help-block Ønsker du ikke å godkjenne vilkårene kan du avbryte ved å gå til&nbsp;
                a(href="http://www.ut.no") ut.no
