# Dev values for Turadmin.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# app name
fullnameOverride: "turadmin"

# deployment spec
replicaCount: 1
restartPolicy: Always

# autoscaling
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70

# pod disruption budget
disruptionBudget:
  enabled: false
  minAvailable: 1

# containers
containers:
  - name: turadmin
    image: eu.gcr.io/dnt-docker-registry-private/turadmin
    tag: "$IMAGE_TAG"
    pullPolicy: Always
    args:
      - /bin/sh
      - -c
      - node app.js
    environment:
      APP_PORT: 8080
      APP_URL: "https://tur.beta.dnt.org"
      LISTS_ADMIN_URL: "https://sjekkut.app.dnt.no/admin/lister"
      DNT_CONNECT_KEY: ""
      DNT_CONNECT_USER: turadmin
      FORCE_SSL: true
      NEW_RELIC_APP_NAME: Turadmin
      NEW_RELIC_LICENSE_KEY: ""
      NEW_RELIC_LOG: stdout
      NEW_RELIC_NO_CONFIG_FILE: true
      NODE_ENV: production
      NTB_ADMIN_URL: "https://admin.nasjonalturbase.no"
      NTB_API_ENV: api
      NTB_API_KEY: ""
      NTB_API_URL: "https://api.nasjonalturbase.no"
      ROUTING_API_URL: "https://raido.app.dnt.no"
      SENDGRID_API_KEY: ""
      SENTRY_DNS: ""
      SENTRY_DSN: ""
      VIRTUAL_HOST: "https://tur.app.dnt.no,http://tur.app.dnt.no"
      VIRTUAL_HOST_WEIGHT: 20
      VIRTUAL_PORT: 8080

    ports:
      - name: "http"
        containerPort: 8080
        protocol: TCP
    resources:
      limits:
        cpu: 250m
        memory: 300Mi
      # requests:
      #  cpu: 100m
      #  memory: 128Mi
    # livenessProbe:
    #   path:
    #   port:
    # readinessProbe:
    #   path:
    #   port:

nodeSelector: {}

affinity: {}

tolerations: []

# services
services:
  - name: turadmin
    expandName: true
    type: ClusterIP
    port: 8080

ingress:
  # Used to create an Ingress record.
  enabled: true
  hosts:
    - host: tur.dev.dnt.org
      paths:
        - path: /
          serviceName: turadmin
          servicePort: 8080
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: 10m

  tls:
    - secretName: dev-beta-dnt-org-tls
      hosts:
        - tur.dev.dnt.org
cert:
  enabled: true
  issuer: "letsencrypt-production"
