<option value=<%= selectOptions.user.get('id') %>>Meg</option>
<% if (selectOptions.admin === true) { %>
<option value="alle">Alle</option>
<% } %>
<optgroup value="groups" label="Grupper jeg er medlem av">
<% _.each(selectOptions.groups, function(element) { %>
  <option value=<%= element.object_id %>><%= element.navn %></option>
<% }); %>
</optgroup>
<optgroup value="groups" label="Eksterne grupper">
  <% if (selectOptions.admin === true) { %>
    <% _.each(selectOptions.externalGroups, function(element) { %>
      <option value=<%= element._id %>><%= element.navn %></option>
    <% }); %>
  <% } else { %>
    <% _.each(selectOptions.externalGroups, function(element) { %>
      <% if (element.privat && element.privat.brukere && element.privat.brukere.find(function (u) { return u.id === selectOptions.user.get('id'); })) { %>
        <option value=<%= element._id %>><%= element.navn %></option>
      <% } %>
    <% }); %>
  <% } %>
</optgroup>
