<option value=<%= selectOptions.user %>>Meg</option>
<% if (selectOptions.admin === true) { %>
<option value="alle">Alle</option>
<% } %>
<optgroup value="groups" label="<%= selectOptions.itemType.charAt(0).toUpperCase() + selectOptions.itemType.slice(1) %>er tilhørende mine grupper">
<% _.each(selectOptions.groups, function(element) { %>
  <option value=<%= element.object_id %>><%= element.navn %></option>
<% }); %>
</optgroup>
<% if (selectOptions.admin === true) { %>
<optgroup value="groups" label="Eksterne grupper">
<% _.each(selectOptions.externalGroups, function(element) { %>
  <option value=<%= element._id %>><%= element.navn %></option>
<% }); %>
</optgroup>
<% } %>
