body {
  padding-top: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00b7ff;
}

.mapControls {
	float: left;
	width: 100%;
}

.mapControls > * {
	float: left;
	margin-right: 10px;
}

.page-block {
	/*margin-top: 20px;
	margin-bottom: 20px;*/
	padding-top: 40px;
}

.page-block:first-child {
	/*margin-top: 20px;
	margin-bottom: 20px;*/
	padding-top: 0;
}

.page-block h3,
.page-block h4 {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.page-block h4.panel-title {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.page-block h5,
.page-block h6 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.routeLocate {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	overflow: hidden;
}

.thumbnail.selected {
	position: relative;
}

.selectableImages .thumbnail {
	cursor: pointer;
}

.removeItem {
	display: none;
}


.thumbnail.removable:hover .removeItem {
	display: block;
	font-family: 'Glyphicons Halflings';
	/*content: '\e014';*/
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 100%;
	position: absolute;
	top: -8px;
	left: 8px;
	background-color: #d2322d;
	height: 28px;
	width: 28px;
	border: 3px solid #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
	line-height: 20px;
}

.thumbnail.selected:before{
	display: block;
	font-family: 'Glyphicons Halflings';
	content: '\e013';
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 100%;
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: #009e0f;
	height: 28px;
	width: 28px;
	border: 3px solid #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
	line-height: 22px;
	text-indent: -1px;
}

.route-pois-accordion {
	margin-bottom: 20px;
}




.nav > li > a.has-unsaved-changes {
	padding-left: 22px;
	position: relative;
}


.nav > li > a.has-unsaved-changes:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: #d2322d;
	border: 2px solid #fff;
	border-radius: 100%;
	margin-top: -6px;
	opacity: .5;
}

.nav > li > a:hover:before {
	opacity: 1;
}

@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS 1.3.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.route-images .progress {
	margin-top: 20px;
}


/**
 * Page Block - Route Done
 */

.page-block.route-done .well {
	text-align: center;
}

.page-block:last-child {
	margin-bottom: 0;
}



a {
	cursor: pointer;
}


.navbar-collapse.in,
.navbar-collapse.collapsing {
	background-color: #222;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* Override Bootstrap's navbar-right -15px margin on last item */
@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}


/* Override Bootstrap's navbar-collapse max-height */
.navbar-collapse {
	max-height: none;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

*:focus {
	outline: none !important;
}



.navbar-collapse.in .divider,
.navbar-collapse.collapsing .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

/* Fargekoder vanskelighetsgrad */
.route-facts-field-vanskelighetsgrad-enkel {
	color: #00984a;
}

.route-facts-field-vanskelighetsgrad-middels {
	color: #0067af;
}

.route-facts-field-vanskelighetsgrad-krevende {
	color: #ed1c2e;
}

.route-facts-field-vanskelighetsgrad-ekspert {
	color: #000;
}

/* Tidsbruk */
select.route-facts-field-days {
	width: 210px;
}

select.route-facts-field-hours,
select.route-facts-field-minutes {
	float: left;
	width: 100px;
	margin-right: 10px;
}


.route-facts-field-kollektivtransport .checkbox {
	margin-bottom: 10px;
}

a, .clickable {
	cursor: pointer;
}
