/* Global styles */

body {
  padding-top: 50px;
}

a {
  color: #00b7ff;
  cursor: pointer;
}

/* NOTE: Mainly used for route index table. Might want to use a selector like ".routes-index .routes-all tr" instead */
.clickable {
	cursor: pointer;
}

*:focus {
	outline: none !important;
}

/* Navigation */

/* Override Bootstrap's navbar-collapse max-height */
.navbar-collapse {
	max-height: none;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.navbar-collapse.in .divider,
.navbar-collapse.collapsing .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

@media (min-width: 991px) {
	ul.nav.navbar-nav.navbar-center {
		width: 380px;
		position: absolute;
		left: 50%;
		margin-left: -190px;
	}
}

.navbar {
	height: 50px;
}

.navbar-brand {
	padding: 13px;
}

.navbar-brand img {
	 height: 24px;
}

.navbar-brand.route-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (min-width: 769px) {
	.navbar-brand.route-name {
		max-width: 360px;
	}
}

@media (min-width: 992px) {
	.navbar-brand.route-name {
		max-width: 208px;
	}
}

@media (min-width: 1200px) {
	.navbar-brand.route-name {
		max-width: 308px;
	}
}


/* If a save-status indicator is to be implemented, this CSS could be used */

.nav > li > a.has-unsaved-changes {
	padding-left: 22px;
	position: relative;
}

.nav > li > a.has-unsaved-changes:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: #d2322d;
	border: 2px solid #fff;
	border-radius: 100%;
	margin-top: -6px;
	opacity: .5;
}

.nav > li > a:hover:before {
	opacity: 1;
}

.action-route-save *,
.action-route-switch-publish-state * {
	color: #fff !important;
}


/* Addon class btn-outline */

.btn-outline,
.btn-outline:focus {
    background-color: transparent;
    color: inherit;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-primary.btn-outline.active,
.btn-success.btn-outline.active,
.btn-info.btn-outline.active,
.btn-warning.btn-outline.active,
.btn-danger.btn-outline.active {
    color: #fff;
}

/* Page blocks */

.page-block {
	padding-top: 40px;
}

.page-block:first-child {
	padding-top: 0;
}

.page-block h3,
.page-block h4 {
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.page-block h4.panel-title {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.page-block h5,
.page-block h6 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


/* Form styling */

.required > label:after {
	color: #b40000;
	content: '\00a0*';
}

input.has-error {
	border-color: #a94442;
}

span.error-msg {
	color: #a94442;
}


/* Map and controls */

.mapControls {
	float: left;
	width: 100%;
}

.mapControls > * {
	float: left;
	margin-right: 10px;
}

.findplace-gpxupload-container {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	overflow: hidden;
}

.findplace-gpxupload-container .findplace label {
	float: left;
	margin-left: 15px;
}

.dropdown a.active {
	position: relative;
}

.dropdown a.active:before {
	position: absolute;
	font-family: 'Glyphicons Halflings';
	content: '\e013';
	left: 10px;
}

.upload-button-status {
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
}

.upload-button-status.has-error {
	color: #a94442;
}


/* Draw tool styles */
div.line-mouse-marker {
	background-color: #ffffff;
	border: 2px solid black;
	border-radius: 10px;
	box-sizing: content-box;
}


/* Custom dropdown used for selecting route direction */

.dropdown-select label {
	margin: 0;
}

.dropdown-select li a {
	padding-left: 30px;
}

.dropdown-select p.help-block {
	margin: 0;
	font-size: 12px;
	max-width: 200px;
	white-space: normal;
}

.dropdown-select-toggles {
	min-width: 240px;
}

.select2-results .select2-highlighted  {
    background-color: #f4f4f4 !important;
    color: #000 !important;
}

/* Route Pictures, removable */

.thumbnail.removable .removeItem {
	display: none;
}

.thumbnail.removable:hover .removeItem {
	display: block;
	font-family: 'Glyphicons Halflings';
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 100%;
	position: absolute;
	top: -8px;
	left: 8px;
	background-color: #d2322d;
	height: 28px;
	width: 28px;
	border: 3px solid #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
	line-height: 20px;
}

.route-images-all-container .thumbnail {
	height: 160px;
}

.route-images-all-container .thumbnail img {
    max-height: 100%;
}

.route-images .progress {
	margin-top: 20px;
}


/* Route POI's */

.route-pois-accordion {
	margin-bottom: 20px;
}

.route-pois-accordion .panel {
	margin-bottom: 20px;
}

.route-pois-accordion .panel-title {
	overflow: hidden;
}

.route-pois-accordion .panel-title .poi-delete {
	float: right;
}


/* POI Images, selectable */

/* TODO: This selector should be .thumbnail.selectable - need to fix markup first! */
.thumbnail.selectable {
	cursor: pointer;
}

.thumbnail.selected {
	position: relative;
}

.thumbnail.selected,
.thumbnail.selectable:hover {
	position: relative;
}

.thumbnail.selected:before,
.thumbnail.selectable:hover:before {
	display: block;
}

.thumbnail.selected:before,
.thumbnail.selectable:hover:before {
	display: block;
	font-family: 'Glyphicons Halflings';
	content: '\e013';
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 100%;
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: #009e0f;
	height: 28px;
	width: 28px;
	border: 3px solid #fff;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
	line-height: 22px;
	text-indent: -1px;
}


/**
 * Page Block - Route Done
 */

.page-block.route-done .well {
	text-align: center;
}

.navbar-collapse.in,
.navbar-collapse.collapsing {
	background-color: #222;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* Override Bootstrap's navbar-right -15px margin on last item */
@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

.form-group.route-facts-field-passer_for_barn p.help-block label {
	font-weight: normal;
	cursor:pointer;
}


/* Lenker */
.route-facts-lenke {
	position: relative;
	margin-bottom: 10px;
}

.route-facts-lenke .remove-link {
	position: absolute;
	right: -25px;
	top: 6px;
	display: none;
}

.route-facts-lenke:hover .remove-link {
	display: block;
}


/* Fargekoder gradering */
.route-facts-field-gradering-enkel {
	color: #00984a;
}

.route-facts-field-gradering-enkel.active {
	color: #fff;
	background-color: #00984a;
}

.route-facts-field-gradering-middels {
	color: #0067af;
}

.route-facts-field-gradering-middels.active {
	color: #fff;
	background-color: #0067af;
}

.route-facts-field-gradering-krevende {
	color: #ed1c2e;
}

.route-facts-field-gradering-krevende.active {
	color: #fff;
	background-color: #ed1c2e;
}

.route-facts-field-gradering-ekspert {
	color: #000;
}

.route-facts-field-gradering-ekspert.active {
	color: #fff;
	background-color: #000;
}


/* Tidsbruk */

select.route-facts-field-tidsbruk-normal-dager {
	width: 210px;
}

select.route-facts-field-tidsbruk-normal-timer,
select.route-facts-field-tidsbruk-normal-minutter {
	float: left;
	width: 100px;
	margin-right: 10px;
}

.route-facts-field-kollektivtransport .checkbox {
	margin-bottom: 10px;
}


/* Fullwidth modal for map used for positioning images and POI's */

/* TODO: Investigate how to prevent the 15px right margin when modal is open (and body overflow is visible) */
body.modal-open {
	/*overflow: visible;*/
}

.modal h4 {
	border: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.modal-map .modal-dialog {
	width: 100%;
	margin-top: 0;
}

.modal-map .modal-dialog .modal-content {
	border-radius: 0;
}

.modal-map .modal-dialog .modal-content .mapControlsRow {
	display: none;
}


/* Route facts */

/* Custom icons on primary tag selection */

.form-group.route-facts-field-tags-primary .btn-group label {
	padding-top: 50px;
	width: 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 11px;
	background-size: 35px;
}

@media (max-width: 991px) {
	.form-group.route-facts-field-tags-primary .btn-group label {
		width: 79px;
	}
}

.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-gatur {
	background-image: url('../images/icon-route-tag-gatur.png');
}

.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-skitur {
	background-image: url('../images/icon-route-tag-skitur.png');
}

.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-sykkeltur {
	background-image: url('../images/icon-route-tag-sykkeltur.png');
}

.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-padletur {
	background-image: url('../images/icon-route-tag-padletur.png');
}

.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-klatretur {
	background-image: url('../images/icon-route-tag-klatretur.png');
}

.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-bretur {
	background-image: url('../images/icon-route-tag-klatretur.png');
}

/* Retina versions */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-gatur {
		background-image: url('../images/icon-route-tag-gatur@2x.png');
	}

	.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-skitur {
		background-image: url('../images/icon-route-tag-skitur@2x.png');
	}

	.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-sykkeltur {
		background-image: url('../images/icon-route-tag-sykkeltur@2x.png');
	}

	.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-padletur {
		background-image: url('../images/icon-route-tag-padletur@2x.png');
	}

	.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-klatretur {
		background-image: url('../images/icon-route-tag-klatretur@2x.png');
	}

	.form-group.route-facts-field-tags-primary .btn-group label.route-facts-field-tags-bretur {
		background-image: url('../images/icon-route-tag-klatretur@2x.png');
	}

}
