<div class="thumbnail removable">
    <a class="removeItem" data-action="do-delete">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
    <img src=<%= thumbnailUrl %> alt="">
</div>
<div class="form-group required">
    <div class="input-group" data-model-validation-field-name="beskrivelse">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-picture"></span>
        </span>
        <input name="beskrivelse" type="text" placeholder="Beskrivelse av bildet" class="form-control">
    </div>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="foto-jeg-har-tatt-bildet" data-toggle-current-user-is-fotograf=""> Jeg har tatt bildet
    </label>
</div>
<div class="form-group form-group-fotograf">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-camera"></span>
        </span>
        <input name="foto-fotograf-navn" type="text" placeholder="Fotograf navn" class="form-control">
    </div>
</div>
<div class="form-group form-group-fotograf">
    <div class="input-group" data-model-validation-field-name="fotografEpost">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <input name="foto-fotograf-epost" type="text" placeholder="Fotograf e-post" class="form-control">
    </div>
</div>
<div class="form-group">
    <div class="input-group foto-tags">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-tags"></span>
        </span>
        <input name="foto-tags" type="text" placeholder="Tags" class="form-control">
    </div>
</div>
<div class="form-group show-position">
    <div class="input-group">
        <% if (isPositioned) { %>
        <button data-action="show-position-picture" class="btn btn-default">
            <span class="glyphicon glyphicon-map-marker"></span>
            &nbsp;Vis posisjon i kart
        </button>
        <% } else { %>
        <button data-action="init-position-picture" class="btn btn-default">
            <span class="glyphicon glyphicon-map-marker"></span>
            &nbsp;Posisjonér i kart
        </button>
        <% } %>
    </div>
</div>
