<div class="row page-block route-pictures" data-module="pictures-manager">
    <div class="col-lg-12">
        <h3>Bilder</h3>
        <div id="noPictures" class="alert alert-warning hidden">
            <strong>Ingen bilder!</strong>&nbsp;Husk å legge inn bilder fra turen din, slik at det blir synlig på forsiden av UT.no</div>
        <div class="row">
            <div class="route-pictures-all-container ui-sortable" data-container-for="all-pictures-container"></div>
        </div>
        <div id="hintInfo" class="alert alert-info">
            <strong>Hint!</strong>&nbsp;Du kan endre på rekkefølgen ved å dra i bildene. Det første bildet vil bli bruk som forsidebilde for turforslaget ditt på UT.no.
        </div>
        <span class="btn btn-primary fileinput-button">
            <span class="glyphicon glyphicon-plus"></span>
            <span>&nbsp;Legg til bilder</span>
            <input id="fileupload" type="file" name="files[]" multiple="">
        </span>
        <div id="progress" class="progress hidden">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <div data-container-for="picture-upload-error"></div>
    </div>
</div>
<!-- div.row.page-block.route-pictures#route-pictures
    div.col-lg-12

        h3 Bilder

        div#noPictures.alert.alert-warning
            strong Ingen bilder!
            | &nbsp;Husk å legge inn bilder fra turen din, slik at det blir synlig på forsiden av UT.no

        div.row
            div#route-pictures-all-container.route-pictures-all-container
        div#hintInfo.alert.alert-info.hidden
            strong Hint!
            | &nbsp;Du kan endre på rekkefølgen ved å dra i bildene. Det første bildet vil bli bruk som forsidebilde for turforslaget ditt på UT.no.
        span.btn.btn-primary.fileinput-button
            span.glyphicon.glyphicon-plus
            span &nbsp;Legg til bilder
            input#fileupload(type="file" name="files[]" multiple="")
        div#progress.progress.hidden
            div.progress-bar.progress-bar-success
        div(data-container-for="picture-upload-error")
 -->
