<h3>Detaljer</h3>
<% if (model.status === 'Kladd') { %>
  <div class="alert alert-info">
    Listen kan ikke publiseres, trolig på grunn av at ikke alle påkrevde er fylt ut. Kontroller at alle felt markert med <strong>*</strong> er fylt ut.
  </div>
<% } %>
<form>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="form-group required">
        <label>Navn</label>
        <input type="text" name="list-details-field-navn" class="form-control" placeholder="Uten navn">
      </div>
      <div class="form-group">
        <label>Kategori</label>
        <select name="list-details-field-kategori" class="form-control">
          <option></option>
          <% for (var i = 0; i < availableTags.length; i++) { %>
            <option value="<%= availableTags[i] %>"><%= availableTags[i] %></option>
          <% } %>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group required">
        <label>Beskrivelse</label>
        <textarea name="list-details-field-beskrivelse"></textarea>
      </div>
    </div>
  </div>

  <div class="form-group" data-model-validation-field-name="periode">
    <div class="row">
      <div class="col-sm-12">
        <label>Periode</label>
      </div>
      <div class="col-xs-5 col-sm-3 col-md-2">
        <input class="form-control" name="list-details-field-start" type="text" placeholder="Fra dato">
      </div>
      <div class="col-xs-2 col-sm-1 form-control-static" style="text-align: center;">
        <span>til</span>
      </div>
      <div class="col-xs-5 col-sm-3 col-md-2">
        <input class="form-control" name="list-details-field-stopp" type="text" placeholder="Til dato">
      </div>
      <div class="col-sm-12">
        <p class="help-block">Periode listen skal være aktiv</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <label>Grupper</label>
        <input class="form-control" type="text" name="list-details-field-grupper">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label>Lenker</label>
    </div>
    <div data-view="list-details-lenker"></div>

    <div class="col-md-12">
      <div data-view="list-pictures"></div>
      <p class="help-block"></p>
    </div>
  </div>
</form>
