script(type="text/template" id="tagsFieldView").

script(type="text/template" id="selectOptionsTemplate").
    <% _.each(selectData, function(element) { %><option value=<%= element.value %>><%= element.label %></option> <% }); %>

script(type="text/template" id="template-route-facts-links").
    <div class="col-lg-7 col-md-7 col-sm-7">
        <div id="routeFactsLinksInput"></div>
        <p class="help-block">Her kan du legge inn relevante lenker for turforslaget ditt. Skill hver lenke med en ny linje. <a data-action="add-link">Legg til lenke</a></p>
    </div>

script(type="text/template" id="template-route-facts-link").
    <div class="row route-facts-lenke">
        <div class="col-lg-6 col-md-6 col-sm-6">

            <input type="text" class="form-control" name="lenke-tittel" value="<%= link.tittel %>" placeholder="Tittel" data-model-validation-field-name="tittel">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input type="text" class="form-control" name="lenke-url" value="<%= link.url %>" placeholder="Adresse" data-model-validation-field-name="url">
        </div>
        <a class="remove-link" data-action="remove-link">Slett</a>
    </div>


script(type="text/template" id="searchResultTemplate").
    <label><%= stedsnavn %></label>
    <p class="help-block"><%= navnetype %> i <%= kommunenavn %> i <%= fylkesnavn %></p>
