<td class="route-title">
    <span>
        <% if (typeof navn != 'undefined') { %><%= navn %><% } else { %><em>Uten navn</em><% } %>
    </span>
</td>
<td>
    <div class="btn-group">
        <%if (status === "Kladd") { %>
            <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Ikke publisert &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a data-action="publish">Publiser</a></li>
            </ul>
        <% } else { %>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Publisert &nbsp; <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a data-action="unpublish">Avpubliser</a></li>
            </ul>
        <% } %>
    </div>
</td>
<td>
    <span><%= endret %></span>
</td>
<td class="actions">
    <a class="edit">Rediger</a>
    <span class="separator">|</span>
    <a id="deleteRoute" data-action="route-delete-modal-open">Slett</a>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Slette?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Er du sikker på at du vil slette<span data-placeholder-for="route-name"><% if (typeof navn != 'undefined') { %> <%= navn %><% } %></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <button type="button" class="btn btn-primary" data-action="route-delete">Slett</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</td>
